body 
{
    background-color:#485265;
    font-family:"Helvetica",Arial;
}
#contenido
{
    width:960px;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: #ee4444;
    font-family: 'Russo One', sans-serif;
    
    

}
nav ul li
{
    display: inline-block;
    margin-right: 20px;
    color: #1d1d1d;
    cursor: pointer;
}
#textopr
{

    width: 700px;
    height: 400px;
    background-color: #1d1d1d;
    color: #fff;
    margin:0 auto;
    text-align: left;
    border-radius:20px;
    padding:20px;  
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
a
{
    color:#ee4444;
    font-weight: bold;
}
nav
{
    color:#dff8eb;
    font-weight: bold;
}
meter
{
    background-color: #FFF;
    padding: 3PX;
    border-radius: 5PX;
    color:#ee4444;
    margin-left:20px; 
    width: 200px;
}
label
{
    display: block;
}
p
{
    display: block;
}
#btnSubmit
{
    border: none;
    background-color:#FFF; 
    color: #e44e2d;
    padding: 3px;
    margin: 15px;
    cursor: pointer;
}
#calificacion
{
    width:150px;
    -webkit-appearance: none;
    background-color: #FFF;
    height:20px;
    border-radius: 5px;
    cursor: pointer; 
}
#calificacion::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background-color: #e44e2d;
    border-radius: 10px;
    height: 15px;
    width: 10px;
}

img
{
    display: inline-block;
    
}
th
{
    color: #e44e2d;
    cursor: pointer;
}
tr
{
    width:90px;
    margin: 0 auto;
    text-align:justify;    
}
#SMedia
{
    height: -5px;
    color: #dff8eb;
  
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.area{
  text-align:center;
  font-size:3em;
  color:#ee4444;
  letter-spacing: -7px;
  font-weight:100;
  text-transform:uppercase;
  animation:blur .70s ease-out infinite;
  text-shadow:0px 0px 4px #fff,
      0px 0px 7px #fff;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}
span {

    text-align: center;
    font-family:700 4em/1 'Lobster', cursive;
    letter-spacing: 0;
    padding: .30em 0 .325em;
      display: block;
      margin: 0 auto;
    text-shadow: 0 0 80px rgba(230, 141, 7, 0.815);



      background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
      -webkit-background-clip: text;
      background-clip: text;



      -webkit-text-fill-color:transparent;
      -webkit-animation: aitf 80s linear infinite;



      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}



