body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.subtitle {
  font-size: 1.2rem;
  color: #dd2200;
}


/* Libros */

.books {
  width: 98%;
}

.book{
  background-color: #fff;
  margin: 10px 0;
  /*padding: .5em;*/
}

.book-image {
  width: 30%;
  vertical-align: top;
  display: inline-block;
  height: 350px;
  
}

.book-image img {
  width: 95%;
  height: 100%;
}

.book-description {
  width: 69%;
  vertical-align: top;
  display: inline-block;
}

.book-link {
  color: #F89C0D;
}

.book-link:visited {
  color: #F89C0D;
}

.canales li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.canales li a {
  text-decoration: none;
  color : #F89C0D;
}