@import url('https://fonts.googleapis.com/css?family=Roboto');

.left_content {
    font-size: 16px;
}

body {
    background-color: #F8F5F2;
    /*font-family: Helvetica;*/
    font-family: 'Roboto', sans-serif;
}

#top {
    position: relative;
    background-color: #48370f;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

#top h1 {
    color: #fff;
    text-decoration: none;
    border-bottom: none;
}

#bottom {
    color: #fff;
    position: relative;
    background-color: #48370f;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #5E070D;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #efefef;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.content-img {
    width: 200px;
}

#left h2 {

    color: #B8860B;
}

#left a{
    color:white;
}

.clearfix {
    clear: both;
}