h2
{
	color:#883CAF;
}
h1{
	color:#883CAF;
}
p{
	color:#060505;
}


td{
	margin:auto;
	display:auto;
}
body {
	background-image:  url("https://album.es/fotos/uploads/imagenes/thumbs/fondo-comunion-rosa-para-album-maxi_comuniones-28-maxi_1200px.jpg") ;
                    
    font-family: 'Indie Flower', cursive;
}
.main, articles {
	width:68.5%;
	margin-right:1.5%;
	float:left;
	padding:20px;
	
}

	

footer{
	color:#CEF6F5;
	clear:both;
	padding:10px 0px;
}